@import "../../global.scss";

.pl {
  // height: 100vh;
  padding: 20px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pl-text {
  width: 65%;
  height: 90%
}

.pl-title {
  font-size: 3em;
  font-weight: 700;
  color: $mainColor;
}

.pl-desc {
  margin: 20px 0px;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p {
  display: flex;
  flex-direction: column;
  width: 44%;
  margin-bottom: 1em;
}

.p-wrapper {
  position: relative;
  height: auto;
  margin: 10px 10px;
  border: 2px solid #c0c0c0;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.p-img {
  width: 100%;
}

.p-title {
  font-size: 2em;
  color: #d20101;
  margin-top: 8%;
  margin-bottom: 1em;

  span {
    background-color: white;
    padding: 2px 15px;
    border-radius: 20px;
  }
}

.p-desc {
  padding: 1em 3em;
}

.p-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.80);
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.p:hover .p-info {
  opacity: 1;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  
  .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    margin: 10px;
    transition: all 0.5s ease;
    filter: invert(9%) sepia(89%) saturate(7071%) hue-rotate(16deg) brightness(92%) contrast(120%);
  
    a {
      text-decoration: none;
      color: black;
      
      &:hover {
        text-decoration: none;
        filter: invert(9%) sepia(89%) saturate(7071%) hue-rotate(16deg) brightness(92%) contrast(120%);
      }
    }
  }
}

.icon:hover {
  transform: scale(1.3);
}

