@import "../../global.scss";

.pl {
  padding: 20px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include for-size(phone) {
    padding: 10px;

  }
}

.pl-text {
  width: 65%;

  @include for-size(phone) {
      width: 100%;
    }
}

.pl-title {
  font-size: 3em;
  font-weight: 700;
  color: $mainColor;
  text-align: center;

  @include for-size(phone) {
      font-size: 2em;
      // margin-bottom: 0%;
    }

  @include for-size(big-desktop) {
    font-size: 4em;
  }
}

.pl-desc {
  margin: 20px 0px;

  @include for-size(phone) {
      display: none;
    }
}

.pl-mobiledesc {
  display: none;

  @include for-size(phone) {
    display: block;
  }
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include for-size(phone) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

.p {
  display: flex;
  flex-direction: column;
  // width: 44%;
  margin-bottom: 1em;
  position: relative;

  @include for-size(phone) {
    // width: 50%;
    height: 17vh;
    margin-bottom: 0em;
  }
}

.p-wrapper {
  position: relative;
  // height: auto;
  margin: 10px 10px;
  border: 2px solid #c0c0c0;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  width: 600px;
  height: 300px;

  @include for-size(phone) {
    width: 300px;
    height: 150px;
    margin: 3px 10px;
  }

  @include for-size(big-desktop) {
    width: 900px;
    height: 450px;
  }

}

.p-browser {
  height: 20px;
  background-color: #c0c0c0;
  display: flex;
  align-items: center;

  @include for-size(phone) {
      height: 10px;
    }
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;

  @include for-size(phone) {
      height: 3px;
      width: 3px;
      margin: 2px;
    }
}

.p-img {
  width: 100%;
  // object-fit: fill;
  // position: absolute;
}

.p-title {
  font-size: 2em;
  color: #d20101;
  margin-top: 8%;
  margin-bottom: 1em;

  @include for-size(phone) {
      font-size: 1em;
      margin-top: 8%;
      margin-bottom: 0.8em;
    }

  span {
    background-color: white;
    padding: 2px 15px;
    border-radius: 20px;
  }
}

.p-stack {
  @include for-size(phone) {
      font-size: 0.8em;
    }
}

.p-desc {
  padding: 1em 3em;

  @include for-size(phone) {
      display: none;
    }
}

.p-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.80);
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.p:hover .p-info {
  opacity: 1;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

  @include for-size(phone) {
      margin: 0px;
    }
  
  .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    margin: 10px;
    transition: all 0.5s ease;
    filter: invert(9%) sepia(89%) saturate(7071%) hue-rotate(16deg) brightness(92%) contrast(120%);

    .actual-icon {
      width: 40px;
      height: 40px;

      @include for-size(phone) {
          width: 30px;
          height: 30px;
        }
    }
  
    a {
      text-decoration: none;
      color: black;
      
      &:hover {
        text-decoration: none;
        filter: invert(9%) sepia(89%) saturate(7071%) hue-rotate(16deg) brightness(92%) contrast(120%);
      }
    }
  }
}

.icon:hover {
  transform: scale(1.3);
}

