@import "../../global.scss";

.contact {
  background-color: $mainColor;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 3em;
      color: white;
      margin-bottom: 30px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-evenly;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        margin-bottom: 40px;
        border-radius: 20px;
        padding: 10px;

        @include mobile {
          width: 200px;
          height: 20px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;
        margin-bottom: 40px;
        border-radius: 20px;
        padding: 10px;

        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      button {
        margin-bottom: 20px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 10px;
        font-size: 1.3em;
        font-weight: 500;
        padding: 10px 40px;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          color: $mainColor;
        }
      }

      span {
        color: white;
      }
    }
  }
}