.app {
  height: 100vh;
  overflow: hidden;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

      >* {
      height: calc(100vh - 70px);
      scroll-snap-align: start;
      }
  }
}