@import "global.scss";

.app {
  height: 100vh;


  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    @include for-size(phone) {
      scroll-snap-type: none;
      scroll-behavior: auto;
      height: calc(100% - 50px);
      top: 50px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

      >* {
      height: calc(100vh - 70px);
      scroll-snap-align: start;

      @include for-size(phone) {
          height: calc(100vh - 50px)
        }

      // .hidden {
      //     opacity: 0;
      //     filter: blur(5px);
      //     transform: translateX(-80%);
      //     transition: all 2s;
      //   }
      
      //   .show {
      //     opacity: 1;
      //     filter: blur(0);
      //     transform: translateX(0);
      //   }
      }
  }
}

